<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="bootstrap/js/jquery-3.3.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="New/font-awesome-4.7.0/css/font-awesome.min.css">


  <script src="New/js/fabric1.7.js"></script>
  <script src="New/js/angular.min.js"></script>
  <script src="New/js/autobahn.min.js"></script>
  <script src="New/js/ui-bootstrap-tpls-0.14.3.min.js"></script>



  <script src="Student.js"></script>

  <title></title>

</head>

<body ng-controller="myCtrl1">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><img src="24tutors.svg" style="margin-top:-20px; max-width:400px;" height="60"></img></a>
      </div>
      <ul class="nav navbar-nav navbar-right ">
        <li><a href="#"><i class="fa fa-sign-out " aria-hidden="true" style="font-size:20px;">End Session</i></a></li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">


        <div class="row">
          <div class="col-md-7">

            <div class="btn-group btn-group-justified" role="group" aria-label="...">

              <div class="btn-group dropdown" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:5vh;" ng-click="SetPen(); mode='line'">
                <i title="Pencil" class="fa fa-pencil" aria-hidden="true" style=" font-size:3vh" ></i>
              </button>
                <ul class="dropdown-menu">
                  <li><input type="range" min="1" max="20" ng-model="size" ng-change="canvas.freeDrawingBrush.width = size;"></li>
                </ul>
              </div>

              <div class="btn-group dropdown" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:5vh;">
                  <i title="Eraser" class="fa fa-eraser"  aria-hidden="true" style=" font-size:3vh"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a ng-click="EraserSize =10; SetEraser();"><i class="fa fa-eraser" aria-hidden="true" style="font-size:5px;" ></i></a></li>
                  <li><a ng-click="EraserSize=20; SetEraser();"><i class="fa fa-eraser" aria-hidden="true" style="font-size:10px;" ></i></a></li>
                  <li><a ng-click="EraserSize =30; SetEraser();"><i class="fa fa-eraser" aria-hidden="true" style="font-size:15px;" ></i></a></li>
                </ul>
              </div>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" style="height:5vh;" ng-click="mode= 'text'; canvas.isDrawingMode = false;">
                  <i title="Text" class="fa fa-font" aria-hidden="true" style=" font-size:3vh" ></i>
                </button>
              </div>

              <div class="btn-group" role="group">
                <input type="file" id="filePicker" style="display:none;">
                <button type="button" class="btn btn-default" style="height:5vh;" ng-click="addFile()">
                  <i class="fa fa-file-image-o" aria-hidden="true" style=" font-size:3vh" ></i>
                </button>

              </div>

              <div class="btn-group dropdown" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height:5vh;" ng-click="fabric.Object.prototype.selectable = false; canvas.isDrawingMode = false; canvas.selection = false;">
                  <i title="Shapes" class="fa fa-clone dropdown-toggle" data-toggle="dropdown" aria-hidden="true" style=" font-size:3vh" ><span class="caret"></span></i>
                </button>
                <ul class="dropdown-menu">
                  <li style="font-size:1.5vh;"><a ng-click="mode = 'rect'; canvas.isDrawingMode = false; ">Rectangle</a></li>
                  <li style="font-size:1.5vh;"><a ng-click="mode = 'circle'; canvas.isDrawingMode = false;">Circle</a></li>
                  <li style="font-size:1.5vh;"><a ng-click="mode = 'triangle'; canvas.isDrawingMode = false;">Triangle</a></li>
                </ul>
              </div>

            </div>
          </div>

          <!-- <div class="col-md-5">
            <div class="btn-group btn-group-justified" role="group" aria-label="..." style="padding-top:10px;">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" ng-click="col='blue'; canvas.freeDrawingBrush.color='blue';"></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" ng-click="col='red'; canvas.freeDrawingBrush.color='red';"></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" ng-click="col='green'; canvas.freeDrawingBrush.color='green';"></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="col='brown'; canvas.freeDrawingBrush.color='yellow';"></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-basic" ng-click="col='brown'; canvas.freeDrawingBrush.color='black';"></button>
              </div>
            </div>
          </div> -->


          <div class="col-md-5">
            <div id=colors>
              <div class="col-md-1">
                <button ng-click="col='blue'; canvas.freeDrawingBrush.color='blue';" style="width:3vh; height:3vh; border:0; background-color: blue;"></button>
              </div>
              <div class="col-md-1">
                <button ng-click="col='red'; canvas.freeDrawingBrush.color='red';" style="width:3vh; height:3vh; border:0; background-color: red;"></button>
              </div>
              <div class="col-md-1">
                <button ng-click="col='green'; canvas.freeDrawingBrush.color='green';" style="width:3vh; height:3vh; border:0; background-color: green;"></button>
              </div>
              <div class="col-md-1">
                <button ng-click="col='yellow'; canvas.freeDrawingBrush.color='yellow';" style="width:3vh; height:3vh; border:0; background-color: yellow;"></button>
              </div>
              <div class="col-md-1">
                <button ng-click="col='black'; canvas.freeDrawingBrush.color='black';" style="width:3vh; height:3vh; border:0; background-color: black;"></button>
              </div>
            </div>
          </div>


        </div>

        <br>

        <div class="row">
          <div class="col-md-12">
            <div id="canvasContainer" class="panel panel-default" style="overflow-y: auto; overflow-x:hidden; height:70vh; width:100%;">
              <canvas id="tutorCanvas"></canvas>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="col-md-5">
              <button class="btn btn-default" type="button" name="button" ng-click="increasecanvas();">Expand</button>
            </div>
            <div class="col-md-1">
              <div class="row">
                <div class="col-md-6">
                  <span style="padding-top:10px; height: 20px; width: 20px; background-color: {{dataVariables.OnlineStatus?'green':'red'}}; border-radius: 50%; display: inline-block;"></span>
                </div>
                <div class="col-md-6">
                  <span style="font-size:20px;">Online</span>
                </div>
              </div>
            </div>
            <div class="col-md-5">

            </div>
          </div>
        </div>


      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <img src="user.png" class="img-circle" alt="User Image" style="width:100px; height:100px;">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h3>{{TeacherName}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h5>Id:{{TeacherId}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h5>Average Rating:{{AverageRating}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div id="scrollbar" class="panel-body" style="overflow-y: auto; overflow-x:hidden; height:50vh;">

                <div class="row" ng-repeat="m in messages">
                  <div class="container-fluid {{m.sendByMe? 'pull-right': 'pull-left'}}">
                    {{m.message}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <form ng-submit="EnterStudentMsg()">
            <div class="input-group">
              <input class="form-control" type="text" ng-model="StudentText" placeholder="Type your message here..." />
              <span class="input-group-btn"><button class="btn btn-primary" type="submit">Submit</button></span>
            </div>
          </form>
        </div>



      </div>
    </div>

  </div>


</body>
